!!! 5
%html
  - title = yield(:title)
  - formatted_title = title.present? ? "#{title} - coliseum.sorah.jp": "coliseum.sorah.jp"
  %head
    %meta{charset: 'utf-8'}
    %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro:400,700', rel: 'stylesheet', type: 'text/css'}
    %title= formatted_title
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %h1= formatted_title

    #container
      %header.main_header
        .logo
          Coliseum
        %nav
          %span= link_to 'SUBMISSIONS', submissions_path
          %span= link_to 'PROBLEMS', problems_path
          %span= link_to 'LEADERBOARD', leaderboard_path

          %span= "|"

          - if current_user
            %span= link_to current_user.nick, current_user
            %span= link_to 'SIGN OUT', sessions_path, method: :delete
          - else
            %span= link_to 'SIGN IN', '/auth/github'
      = yield
